<li class="menu_list_item <%= menu_item_state(page) %>">
  <%= link_to slug_path(page), :class => 'menu_list_anchor' do %>
    <span class="anchor_left"><%= page.name %></span>
    <span class="anchor_right">&nbsp;</span>
  <% end %>
  <% if page.children.any? %>
    <div class="submenu_wrapper">
      <div class="submenu">
        <ul class="nested_links hidden_menu_list_item">
          <%= image_tag "submenu_arrow.png", :class => 'submenu_arrow' %>
          <% page.children.each do |child| %>
            <li>
              <%= link_to content_tag(:span, child.name), slug_path(child),
                :class => menu_item_state(child) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</li>