<div class="second_block">
  <div class="second_block_content row-fluid row_color">
    <div class="second_block_fix">
      <div class="second_block_item">
        <%= link_to slug_path('your_credit_history'),
                   :class => 'second_block_link second_block_text_link' do %>
          <span class="second_block_link_center">
            <%= image_tag 'second_block_menu_logo_1.png', :class => 'second_block_item_logo' %>
            <%= image_tag 'second_block_menu_logo_shadow.png', :class => 'second_block_menu_shadow'  %>
          </span>
          <p class="second_block_item_caption">
              Узнать свою кредитную
              <br /> историю
          </p>
        <% end %>

        <p class="second_block_item_text">
          Вам необходимо оценить свои шансы в получении кредита,
          понять, почему банки отказывают Вам в кредитовании или
          предлагают кредиты на менее выгодных условиях и с повышенными
          процентными ставками?
        </p>
      </div>
      <div class="second_block_item">
        <%= link_to slug_path('correct_credit_history'),
                    :class => 'second_block_link second_block_text_link' do %>
          <span class="second_block_link_center">
            <%= image_tag 'second_block_menu_logo_2.png', :class => 'second_block_item_logo' %>
            <%= image_tag 'second_block_menu_logo_shadow.png', :class => 'second_block_menu_shadow' %>
          </span>
          <p class="second_block_item_caption">
            Исправить свою
            <br />кредитную историю
          </p>
        <% end %>
        <p class="second_block_item_text">
          Вы обратились в банк и Вам
          отказали в получении кредита?
          <br /><br />
          Зачастую это происходит по
          причине «плохой» кредитной
          истории заемщика.
        </p>
      </div>
      <div class="second_block_item second_block_item_clear">
        <%= link_to slug_path('fill_online_request'),
                    :class => 'second_block_link second_block_text_link' do %>
          <span class="second_block_link_center">
            <%= image_tag 'second_block_menu_logo_3.png', :class => 'second_block_item_logo' %>
            <%= image_tag 'second_block_menu_logo_shadow.png', :class => 'second_block_menu_shadow' %>
          </span>
          <p class="second_block_item_caption">
            Заполнить заявку
            <br /> On-line
          </p>
        <% end %>
        <p class="second_block_item_text">
          Вам необходимо оценить свои
          шансы в получении кредита,
          понять, почему банки отказывают
          Вам в кредитовании или
          предлагают кредиты на менее
          выгодных условиях и с
          повышенными процентными
          ставками?
        </p>
      </div>
      <div class="second_block_item">
        <%= link_to slug_path('contacts'),
                    :class => "second_block_link second_block_text_link" do %>
          <span class="second_block_link_center">
            <%= image_tag 'second_block_menu_logo_4.png', :class => 'second_block_item_logo' %>
            <%= image_tag 'second_block_menu_logo_shadow.png', :class => 'second_block_menu_shadow' %>
          </span>
          <p class="second_block_item_caption">
            Связаться с
            <br />нами

          </p>
        <% end %>
        <p class="second_block_item_text">
          Вам необходимо оценить свои
          шансы в получении кредита,
          понять, почему банки отказывают
          Вам в кредитовании или
          предлагают кредиты на менее
          выгодных условиях и с
          повышенными процентными
          ставками?
        </p>
      </div>

    </div>
  </div>
</div>